<div class="jumbotron my-3">
  <h1>Alpha Blog</h1>
  <p class="lead my-4">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <%= link_to 'Sign Up', "#", class: "btn btn-primary btn-lg" %>
</div>